* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: navy;
}

.container {
    background-color: white;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 650px;
}

/* .row {
    width: 40rem;
    height: 40rem;
} */

.square {
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}

.square-coral {
    background-color: rgb(201, 104, 243) ;
}

.square-dodgerblue {
    background-color: dodgerblue;
}

.square-violet {
    background-color: violet
}

.square-lime{
    background-color: aqua;
}